body {
  padding-right: 0px !important;
}

#navbar-main, #skiplink {
  display: none;
}

#vpp-logo-link img {
  content: url(https://vine.nyc3.digitaloceanspaces.com/vine.webp) !important;
  margin-bottom: 3px;
}
