body {
  padding-right: 0px !important;
}

#navbar-main, #skiplink {
  display: none;
}

#vvp-logo-link img {
  content: url(https://vine.nyc3.digitaloceanspaces.com/discord.png) !important;
  margin-bottom: 3px;
}
