#vvp-header {
  margin: 0px;
}

.a-container.vvp-body {
  padding: 0px;
  max-width: unset !important;
  min-width: unset !important;
}

#vvp-logo-link img {
  height: 30px;
}

#vvp-header ~ .a-section {
  display: none;
}

.vvp-body>*+* {
  margin-top: 0px !important;
}

.vvp-header-links-container {
  margin-right: 0.5rem;
}

#vvp-items-grid {
  grid-template-columns: repeat(auto-fill,minmax(110px,auto)) !important;
  margin-bottom: 0px !important;
}

#vvp-items-grid .vvp-item-tile .vvp-item-tile-content {
  width: 110px !important;
}

#vvp-items-grid .vvp-item-tile .vvp-item-tile-content > * {
  margin: 0 !important;
}

#vvp-items-grid .vvp-item-tile .vvp-item-tile-content > img {
  margin-top: 0.5rem !important;
}

#vvp-items-grid .vvp-item-tile .vvp-item-tile-content .a-button:not(.a-button-toggle) {
  border-radius: 0 !important;
  margin-bottom: 0.5rem !important;
}

#vvp-items-grid .vvp-item-tile .vvp-item-tile-content>.vvp-item-product-title-container {
  height: 40px !important;
}
