#vvp-browse-nodes-container .parent-node {
  background-color: #f3f3f3 !important;
}
#vvp-browse-nodes-container .parent-node:nth-of-type(odd) {
  background-color: white !important;
}

#vvp-browse-nodes-container .parent-node, #vvp-browse-nodes-container .child-node  {
  display: flex !important;
}
#vvp-browse-nodes-container .parent-node a, #vvp-browse-nodes-container .child-node a {
  flex-grow: 1 !important;
}
